<app-header></app-header>

<div class="container">
    <h5 class="mt-5 text-danger text-center">OUR CHEFS</h5>
    <h3 class="mt-5 text-center">We offer the best ingredients for you</h3>


    <div class="row mt-5 mb-5">
        <div class="col-lg-4 p-4 border">
          <img src="../../../assets/images/chefs-01.jpeg" class="rounded-circle mx-auto d-block m-4" alt="" height="200px" width="200px">
  
          <h2 class="text-center text-danger">Randy Walker</h2>
          <p class="text-center">Pastry Chef</p>
          <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 p-4 border">
            <img src="../../../assets/images/chefs-02.jpeg" class="rounded-circle mx-auto d-block m-4" alt="" height="200px" width="200px">
  
          
          <h2 class="text-center text-danger">David Martin</h2>
          <p class="text-center">Cookie Chef</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 p-4 border">
            <img src="../../../assets/images/chefs-03.jpeg" class="rounded-circle mx-auto d-block m-4" alt="" height="200px" width="200px">
  
          
          <h2 class="text-center text-danger">Peter Perkson</h2>
          <p class="text-center">Pancake Chef</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>
<app-footer></app-footer>