<div class="container">
    <div class="row m-5">
    <div class="col-md-6 bg-secondary p-5 rounded">
      <div class="card-counter primary text-center">
        <i class="fa fa-code-fork"></i>
        <h3><span class="count-numbers text-light">12</span></h3>
        <span class="count-name text-light">Tables</span>
      </div>
    </div>

    <div class="col-md-6 bg-info p-5 rounded">
      <div class="card-counter danger text-center">
        <i class="fa fa-ticket"></i>
        <h3><span class="count-numbers text-light">15</span></h3>
        <span class="count-name text-light">Foods</span>
      </div>
    </div>

    <div class="col-md-6 p-5 bg-danger rounded">
      <div class="card-counter success text-center">
        <i class="fa fa-database"></i>
        <h3><span class="count-numbers text-light">39 Booking</span></h3>
        <span class="count-name text-light">Data</span>
      </div>
    </div>

    <div class="col-md-6 p-5 bg-success rounded">
      <div class="card-counter info text-center">
        <i class="fa fa-users"></i>
        <h3><span class="count-numbers text-light">35</span></h3>
        <span class="count-name text-light">Users</span>
      </div>
    </div>
  </div>
</div>
